.has-background-danger {
    background-color: #cc0000!important;
}

.has-text-warning {
    color: #ffde00!important;
}

.in-pokemon-go {
    background-color: #008000!important;
    color: #fff!important;
}

.not-in-pokemon-go {
    background-color: #cc0000!important;
    color: #fff!important;
}

.has-border {
    border-top-style: solid!important;
    border-top-color: #3B4CCA!important;
}

.button {
    border: 2px solid #3B4CCA;
    background-color: #cc0000;
    color: #ffde00;
}

#name {
    /* font-size: larger; */
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: #3B4CCA;
}

#userInput {
    border: 2px solid #3B4CCA;
}

#genSelect, #typeSelect {
    border: 2px solid #3B4CCA;
}

#userInput, #submit, #compareGO {
    margin-right: 2px!important; 
    margin-left: 2px!important;
}

#searchPokemon {
    display: none;
}

h2, h3 {
    margin-right: 5px!important; 
    margin-left: 5px!important;
}